<h1 class="dashboard-title">Tableau de bord</h1>

<h2 class="dashboard-exp-title">Vos Expériences</h2>

<div class="profile-picture-container">
  <%= image_tag @provider.profile_picture_url.presence || 'default-profile.jpg', alt: "Photo de profil de #{@provider.first_name}", class: "profile-picture img-fluid" %>
</div>

<% if @experiences.any? %>
  <section class="experiences-table-container">
    <table class="table experiences-table">
      <thead>
        <tr>
          <th>Expérience</th>
          <th>Lieu</th>
          <th>Participants</th>
          <th>Nombre d'avis</th>
          <th>Revenu total</th>
        </tr>
      </thead>
      <tbody>
        <% @experiences.each do |experience| %>
          <tr>
            <td><%= link_to experience.title, experience_path(experience), class: 'experience-title-link' %></td>
            <td><%= experience.location %></td>
            <td>
              <% if experience.users.any? %>
                <ul class="participants-list">
                  <% experience.users.each do |user| %>
                    <li><%= user.email %></li>
                  <% end %>
                </ul>
              <% else %>
                Aucun participant
              <% end %>
            </td>
            <td>
              <%= experience.reviews.count %>
            </td>
            <td>
              <%= number_to_currency(experience.price * experience.users.count, locale: :fr) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
<% else %>
  <p>Vous n'avez créé aucune expérience pour l’instant.</p>
<% end %>
