<article>
  <h2>Modifier <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "providers/shared/error_messages", resource: resource %>

    <section>
      <%= f.label :profile_picture, "Photo de profil" %><br />
      
      <% if resource.profile_picture.attached? %>
        <%= image_tag resource.profile_picture, alt: "Photo actuelle de profil", class: "profile-picture" %>
      <% else %>
        <%= image_tag "default_profile_picture.png", alt: "Photo de profil par défaut", class: "profile-picture" %>
      <% end %>

      <%= f.file_field :profile_picture %>
    </section>


    <section>
      <%= f.label :email, "Adresse e-mail" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </section>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <section>En attente de confirmation pour : <%= resource.unconfirmed_email %></section>
    <% end %>

    <section>
      <%= f.label :first_name, "Prénom (optionnel)" %><br />
      <%= f.text_field :first_name, placeholder: "Entrez votre prénom (facultatif)" %>
    </section>

    <section>
      <%= f.label :password, "Nouveau mot de passe" %> <i>(laisser vide si vous ne souhaitez pas le modifier)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> caractères minimum</em>
      <% end %>
    </section>

    <section>
      <%= f.label :password_confirmation, "Confirmation du mot de passe" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </section>

    <section>
      <%= f.label :current_password, "Mot de passe actuel" %> <i>(nous avons besoin de votre mot de passe actuel pour confirmer les modifications)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </section>

    <footer>
      <%= f.submit "Mettre à jour" %>
    </footer>
  <% end %>

  <h3>Supprimer mon compte</h3>

  <section>
    Vous n'êtes pas satisfait ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr ?", turbo_confirm: "Êtes-vous sûr ?" }, method: :delete %>
  </section>

  <%= link_to "Retour", :back %>
</article>
