<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "providers/shared/error_messages", resource: resource %>

  <section class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </section>

  <section class="actions">
    <%= f.submit "Resend unlock instructions" %>
  </section>
<% end %>

<%= render "providers/shared/links" %> 
