<h1>Tableau de bord</h1>

<% if current_user.admin? %>
  <!-- Section Admin -->
  <h2>Expériences</h2>
  <ul>
    <% @experiences.each do |experience| %>
      <li><%= experience.title %> - <%= experience.price %>€</li>
    <% end %>
  </ul>

  <h2>Réservations</h2>
  <ul>
    <% @reservations.each do |reservation| %>
      <li>
        <%= reservation.user.first_name %> a réservé 
        <%= reservation.experience.title %> pour le <%= reservation.reservation_date.strftime("%d/%m/%Y") %>
      </li>
    <% end %>
  </ul>

  <h2>Commandes des clients</h2>
  <ul>
    <% @customer_orders.each do |order| %>
      <li>
        Commande de <%= order.user.first_name %> - Montant : <%= order.total_price %>€
      </li>
    <% end %>
  </ul>
<% else %>
<% end %>
