<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "OdyNest", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Accueil", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Nos expériences", experiences_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Tendances", "#trend", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Panier", "#", class: "nav-link" %>
        </li>

        <% if provider_signed_in? %>
          <!-- Si l'utilisateur est un prestataire -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="providerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mon profil pro
            </a>
            <ul class="dropdown-menu" aria-labelledby="providerDropdown">
              <li><%= link_to "Mes événements", "#", class: "dropdown-item" %></li>
              <li><%= link_to "Ajouter un événement", new_experience_path, class: "dropdown-item" %></li>
              <li><%= link_to "Modifier mon profil pro", edit_provider_registration_path, class: "dropdown-item" %></li>
              <li>
                <%= form_with url: destroy_provider_session_path, method: :delete, class: "d-inline" do %>
                  <%= submit_tag "Se déconnecter", class: "dropdown-item" %>
                <% end %>
              </li>
            </ul>
          </li>

<!-- Si l'utilisateur est connecté -->
        <% elsif user_signed_in? %> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mon profil 
          </a>
          <ul class="dropdown-menu" aria-labelledby="profileDropdown">
            <li><%= link_to "Voir mon Profil", user_path(current_user), class: "dropdown-item" %></li>
            <li>
              <%= form_with url: destroy_user_session_path, method: :delete, class: "d-inline" do %>
                <%= submit_tag "Se déconnecter", class: "dropdown-item" %>
                <% end %>
            </li>
          </ul>
        </li>

        <% else %> 
<!-- Si l'utilisateur n'est pas connecté -->
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Espace pro", new_provider_registration_path, class: "nav-link" %> <!-- Lien pour inscription prestataire -->
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
