<section class="container">
    <article class="presentation-content">
        <!-- Nouveau container parent -->
        <div class="content-wrapper">
            <!-- Texte à gauche -->
            <div class="presentation-texts">
                <% if current_provider %>
                <h2 class="amsterdam banner-title-pro">Travel Experience</h2>
                    <h3 class="subtitle">Partagez votre passion et vos talents !</h3>
                        <p class="presentation-text">
                            Chez OdyNest, nous croyons que chaque destination a des trésors à offrir et que les expériences locales sont le cœur de chaque voyage. Que vous soyez un expert en aventure, un passionné de culture ou un hôte proposant des moments de détente, OdyNest vous aide à atteindre une communauté mondiale de voyageurs avides de découvrir des expériences locales.
                            Ensemble, redéfinissons la façon dont le monde voyage, en mettant l’accent sur les expériences humaines, locales et authentiques.<br>
                            <%= link_to about_path, class: "cta presentation-home" do %>
                                <span>En savoir plus</span>
                                    <svg width="15px" height="10px" viewBox="0 0 13 10">
                                        <path d="M1,5 L11,5"></path>
                                        <polyline points="8 1 12 5 8 9"></polyline>
                                    </svg>
                            <% end %>
                        </p>
                <% else %>
                <h2 class="amsterdam banner-title">Travel Experience</h2>
                    <h3 class="subtitle">Voyagez autrement, vivez l'instant</h3>
                        <p class="presentation-text">
                            Nous sommes OdyNest, une plateforme dédiée à la découverte et à la réservation d'expériences uniques à travers le monde.
                            Que vous soyez à la recherche d'aventures en ville ou de moments de détente dans des lieux exotiques,
                            OdyNest vous permet de vivre des moments inoubliables.
                            Explorez nos offres et plongez dans l'univers des expériences locales dans vos destinations favorites.<br>
                            <%= link_to about_path, class: "cta presentation-home" do %>
                                <span>En savoir plus</span>
                                    <svg width="15px" height="10px" viewBox="0 0 13 10">
                                        <path d="M1,5 L11,5"></path>
                                        <polyline points="8 1 12 5 8 9"></polyline>
                                    </svg>
                            <% end %>
                        </p>
                <% end %>
            </div>

            <aside class="presentation-images">
                <% if current_provider %>
                    <!-- Carrousel visible uniquement sur mobile -->
                    <div id="carouselExampleIndicators" class="carousel slide d-block d-md-none" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <%= image_tag "img4.jpg", alt: "Explorateur marchant dans le désert..." %>
                        </div>
                        <div class="carousel-item">
                        <%= image_tag "img5.jpg", alt: "Découverte d'une ville portuaire..." %>
                        </div>
                        <div class="carousel-item">
                        <%= image_tag "img6.jpg", alt: "Randonnée sur un sentier de montagne..." %>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                <% else %>
                    <!-- Carrousel visible uniquement sur mobile -->
                    <div id="carouselExampleIndicators" class="carousel slide d-block d-md-none" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <%= image_tag "img1.jpg", alt: "Explorateur marchant dans le désert..." %>
                        </div>
                        <div class="carousel-item">
                        <%= image_tag "img2.jpg", alt: "Découverte d'une ville portuaire..." %>
                        </div>
                        <div class="carousel-item">
                        <%= image_tag "img3.jpg", alt: "Randonnée sur un sentier de montagne..." %>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                <% end %>

                <!-- Images statiques visibles uniquement sur desktop -->
                <div class="d-none d-md-block">
                    <% if current_provider %>
                    <%= image_tag "img4.jpg", alt: "Explorateur marchant dans le désert..." %>
                    <%= image_tag "img5.jpg", alt: "Découverte d'une ville portuaire..." %>
                    <%= image_tag "img6.jpg", alt: "Randonnée sur un sentier de montagne..." %>
                    <% else %>
                    <%= image_tag "img1.jpg", alt: "Explorateur marchant dans le désert..." %>
                    <%= image_tag "img2.jpg", alt: "Découverte d'une ville portuaire..." %>
                    <%= image_tag "img3.jpg", alt: "Randonnée sur un sentier de montagne..." %>
                    <% end %>
                </div>
            </aside>

        </div>
    </article>
</section>
