<section class="container">
  <article class="presentation-content">

    <!-- Conteneur principal : texte à gauche, images à droite -->
    <section class="content-wrapper">

      <!-- Bloc texte -->
      <section class="presentation-texts">
        <% if current_provider %>
          <!-- Version fournisseur connecté -->
          <h2 class="amsterdam banner-title-pro">Travel Experience</h2>
          <h3 class="subtitle">Partagez votre passion et vos talents !</h3>
          <p class="presentation-text">
            Chez OdyNest, nous croyons que chaque destination a des trésors à offrir [...]
            <%= link_to about_path, class: "cta presentation-home" do %>
              <span>En savoir plus</span>
              <svg width="15px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            <% end %>
          </p>
        <% else %>
          <!-- Version utilisateur classique -->
          <h2 class="amsterdam banner-title">Travel Experience</h2>
          <h3 class="subtitle">Voyagez autrement, vivez l'instant</h3>
          <p class="presentation-text">
            Nous sommes OdyNest, une plateforme dédiée à la découverte [...]
            <%= link_to about_path, class: "cta presentation-home" do %>
              <span>En savoir plus</span>
              <svg width="15px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            <% end %>
          </p>
        <% end %>
      </section>

      <!-- Bloc images -->
      <% if current_provider %>
        <!-- Images pour les prestataires -->
        <aside class="presentation-images">
          <%= image_tag "img4.jpg", alt: "Explorateur marchant dans le désert [...]" %>
          <%= image_tag "img5.jpg", alt: "Découverte d'une ville portuaire animée [...]" %>
          <%= image_tag "img6.jpg", alt: "Randonnée sur un sentier de montagne [...]" %>
        </aside>
      <% else %>
        <!-- Images pour les visiteurs classiques -->
        <aside class="presentation-images">
          <%= image_tag "img1.jpg", alt: "Explorateur marchant dans le désert [...]" %>
          <%= image_tag "img2.jpg", alt: "Découverte d'une ville portuaire animée [...]" %>
          <%= image_tag "img3.jpg", alt: "Randonnée sur un sentier de montagne [...]" %>
        </aside>
      <% end %>
    </section>
  </article>
</section>
