<%= render "pages/banner" %>
<%= render "pages/presentation" %>

<section class="experiences">
  <div class="container">
    <% if current_provider %>
      <h1 class="text-center mb-4 mt-5">Vos expériences ✈️🌍</h1>
      <!-- Afficher les expériences du provider connecté -->
      <% if current_provider.experiences.any? %>
        <%= render "experiences/cards", experiences: current_provider.experiences %>
      <% else %>
        <p>Vous n'avez encore ajouté aucune expérience. <%= link_to "Ajoutez-en une", new_experience_path %>.</p>
      <% end %>

      <!-- Remplacer la section trends par advice pour les providers -->

    <% else %>
      <h1 class="text-center mb-4 mt-5">Découvrez des expériences inoubliables ✈️🌍</h1>
      <!-- ✅ Ajout du render pour afficher les 6 expériences -->
      <%= render "experiences/cards", experiences: @experiences.limit(6) %>
    <% end %>

    <!-- ✅ Boutons centrés -->
    <div class="text-center mt-4 d-flex justify-content-center gap-3 flex-wrap">
      <% if current_provider %>
        <%= link_to provider_dashboard_path, class: "custom-btn btn-4" do %>
          <span>DASHBOARD</span>
        <% end %>
      <% else %>
        <%= link_to experiences_path, class: "custom-btn btn-4" do %>
          <span>VOIR PLUS</span>
        <% end %>
        <%= link_to "SUGGESTIONS", quiz_experiences_path, class: "custom-btn btn-4" %>
      <% end %>
    </div>
    <% if current_provider %>
      <section id="advice">
        <%= render "pages/advice" %>
      </section>
    <% end %>
  </div>
</section>

<% if !current_provider %>
  <section id="trend" class="trends">
    <div class="container">
      <%= render "pages/trends" %>
    </div>
  </section>
<% end %>
