<%= render "pages/banner" %>
<%= render "pages/presentation" %>

<section class="experiences">
  <% if provider_signed_in? %>
  <h1 class="mb-4 centered-title">Votre liste d'expériences</h1>
    <%= render "experiences/cards", experiences: current_provider.experiences %>
  <% else %>
    <h1 class="mb-4 centered-title">Découvrez des expériences inoubliables ✈️🌍</h1>
    <%= render "experiences/cards", experiences: @experiences.limit(6) %>
  <% end %>

    <div class="text-center mt-4">
      <% if provider_signed_in? %>
        <%= link_to provider_dashboard_path, class: "custom-btn btn-4" do %>
          <span>MON DASHBOARD</span>
        <% end %>
      <% else %>
        <%= link_to experiences_path, class: "custom-btn btn-4" do %>
          <span>VOIR PLUS</span>
        <% end %>
      <% end %>
    </div>

  </div>
</section>

<section id="trend" class="trends">
  <div class="container">
    <%= render "pages/trends" %>
  </div>
</section>
