<section class="container text-center mt-5">

  <% if controller_name == "experiences" && action_name == "index" %>
    <%= form_with url: experiences_path, method: :get, local: true, class: "filter-form" do %>
      <fieldset class="filter-container">
        <legend class="filter-label">Trier par :</legend>
        <%= select_tag :sort, options_for_select([
          ["Récent d'abord", "newest"],
          ["Ancien d'abord", "oldest"],
          ["Prix croissant", "price_asc"],
          ["Prix décroissant", "price_desc"],
          ["Ville A-Z", "city_asc"],
          ["Ville Z-A", "city_desc"]
        ], params[:sort]), class: "filter-select", onchange: 'this.form.submit();' %>
      </fieldset>
    <% end %>
  <% end %>

  <section class="row">
    <% experiences.each do |experience| %>
      <article class="col-md-4 mb-4">
        <figure class="card-experience">
          <picture class="card-image-container">
            <img src="<%= experience.photo.attached? ? url_for(experience.photo) : image_path('default-image.jpg') %>" alt="Image de <%= experience.title %>" class="card-image">
          </picture>

          <figcaption class="card-content">
            <h2 class="card-title"><%= experience.title %></h2>
            <p class="card-text"><%= truncate(experience.description, length: 100) %></p>
            <p><strong>Lieu :</strong> <%= experience.location %></p>
            <p><strong><%= number_to_currency(experience.price - 0.01, unit: "", separator: ",", delimiter: ".", format: "%n€") %></strong></p>
          </figcaption>

          <footer class="card-footer">
            <%= link_to experience_path(experience), class: "cta" do %>
              <span>Voir l'expérience</span>
              <svg width="15px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            <% end %>
          </footer>
        </figure>
      </article>
    <% end %>
  </section>
</section>

<a href="#" class="back-to-top-fixed" title="Retour en haut">↑</a>
