<div class="container text-center mt-5">
  <h1 class="mb-4">Découvrez des expériences inoubliables ✈️🌍</h1>

  <% if controller_name == "experiences" && action_name == "index" %>
    <%= form_with url: experiences_path, method: :get, local: true, class: "filter-form" do %>
      <div class="filter-container">
        <label for="sort" class="filter-label">Trier par :</label>
        <%= select_tag :sort, options_for_select([
          ["Récent d'abord", "newest"],
          ["Ancien d'abord", "oldest"],
          ["Prix croissant", "price_asc"],
          ["Prix décroissant", "price_desc"],
          ["Ville A-Z", "city_asc"],
          ["Ville Z-A", "city_desc"]
        ], params[:sort]), class: "filter-select", onchange: 'this.form.submit();' %>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <% experiences.each do |experience| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= experience.title %></h5>
            <p class="card-text"><%= truncate(experience.description, length: 100) %></p>
            <p><strong>Lieu :</strong> <%= experience.location %></p>
            <p><strong>Prix :</strong> <%= number_to_currency(experience.price, unit: "€") %></p>
            
            <%= link_to experience_path(experience), class: "cta" do %>
              <span>Voir l'expérience</span>
              <svg width="15px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div> 
<a href="#" class="back-to-top-fixed" title="Retour en haut">↑</a>