<div class="container mt-5">
  <h1 class="text-center"><%= @experience.title %></h1>

  <div class="row mt-4">
    <div class="col-md-6">
      <p><strong>Description :</strong> <%= @experience.description %></p>
      <p><strong>Lieu :</strong> <%= @experience.location %></p>
      <p><strong>Prix :</strong> <%= number_to_currency(@experience.price, unit: "€") %></p>
      <p><strong>Durée :</strong> <%= @experience.duration %> jours</p>

      <% if current_user && current_user != @experience.provider %>
      <div class="mt-4">
      <h4>Choisissez une date :</h4>
        <%= form_with model: Reservation.new, url: experience_reservations_path(@experience), method: :post do |f| %>
      <div class="form-group">
        <%= f.label :reservation_date, "Date de réservation" %>
        <%= f.select :reservation_date, 
            [[@experience.start_date_1.strftime("%d/%m/%Y"), @experience.start_date_1],
             [@experience.start_date_2.strftime("%d/%m/%Y"), @experience.start_date_2],
             [@experience.start_date_3.strftime("%d/%m/%Y"), @experience.start_date_3]],
            {}, class: "form-control" %>
      </div>
      <%= f.submit "Réserver cette expérience", class: "btn btn-success mt-2" %>
    <% end %>
  </div>

      <% elsif current_user == @experience.provider %>
        <div class="alert alert-warning" role="alert">
          Vous êtes le fournisseur de cette expérience.
        </div>
      <% end %>
    </div>
  </div>

  <div class="mt-4 text-center">
    <%= link_to 'Retour à la liste des expériences', experiences_path, class: 'btn btn-secondary' %>
    <% if current_user&.admin? || current_provider == @experience.provider %>
      <%= link_to 'Modifier', edit_experience_path(@experience), class: 'btn btn-primary' %>
      <%= link_to 'Supprimer', experience_path(@experience), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette expérience ?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
