<%= form_with(model: [experience, review], local: true) do |f| %>
  
  <fieldset>
    <legend>Ajouter un avis</legend>

    <label for="<%= f.object_name %>_user_pseudo">Pseudo de l'utilisateur</label>
    <%= f.text_field :user_pseudo, value: current_user.username.presence, class: "form-control" %>

    <label for="<%= f.object_name %>_rating">Note (1 à 5)</label>
    <%= f.select :rating, options_for_select(1..5), {}, class: "form-control" %>

    <label for="<%= f.object_name %>_comment">Votre avis</label>
    <%= f.text_area :comment, rows: 4, class: "form-control" %>

    <footer>
      <%= f.submit "Ajouter un avis", class: "btn btn-secondary" %>
    </footer>
  </fieldset>

<% end %>
