<article>
  <h2>Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "providers/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <section>
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </section>

    <section>
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </section>

    <footer>
      <%= f.submit "Change my password" %>
    </footer>
  <% end %>

  <%= render "providers/shared/links" %>
</article>
