<article>
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "providers/shared/error_messages", resource: resource %>

    <section>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </section>

    <footer>
      <%= f.submit "Send me reset password instructions" %>
    </footer>
  <% end %>

  <%= render "providers/shared/links" %>
</article>
