<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= content_for(:title) || "Odynest Project" %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="<%= asset_path('logo.png') %>">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- CSS et autres ressources -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render 'shared/navbar' %>  <!-- Inclusion de la navbar -->
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <%= render 'shared/footer' %>  <!-- Inclusion du footer -->
    </footer>
  </body>
</html>
